form, div {
    background-color: #ffffff;
}

body {
    padding: 20px 30px;
    background-color: #c3e6cb !important;
}

.greeny {
    background-color: #c3e6cb !important;
}

.form-base {
    width: 100%;
    max-width: 360px;
    padding: 15px;
    margin: auto;
}

.error-message {
    color: red;
    font-size: 14px;
    list-style-type: none;
}

ul {
    padding: 0;
}